repos:
- repo: https://github.com/pre-commit/pre-commit-hooks.git
  rev: v4.6.0
  hooks:
    - id: check-merge-conflict
    - id: trailing-whitespace
- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.28.1
  hooks:
    - id: check-github-workflows
    - id: check-dependabot
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 24.3.0
  hooks:
    - id: black
- repo: https://github.com/sirosen/slyp
  rev: 0.6.0
  hooks:
    - id: slyp
- repo: https://github.com/PyCQA/flake8
  rev: 7.0.0
  hooks:
    - id: flake8
      additional_dependencies:
        - 'flake8-bugbear==24.1.17'
        - 'flake8-typing-as-t==0.0.3'
        - 'flake8-comprehensions==3.14.0'
- repo: https://github.com/PyCQA/isort
  rev: 5.13.2
  hooks:
    - id: isort
- repo: local
  hooks:
    - id: check-hook-name-length
      name: 'Check hook name length'
      language: python
      entry: ./scripts/check-hook-name-length.py
      files: ^\.pre-commit-hooks\.yaml$
