repos:
- repo: https://github.com/pre-commit/pre-commit-hooks.git
  rev: v4.5.0
  hooks:
    - id: check-merge-conflict
    - id: trailing-whitespace
- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.27.1
  hooks:
    - id: check-github-workflows
    - id: check-dependabot
- repo: https://github.com/psf/black
  rev: 23.11.0
  hooks:
    - id: black
- repo: https://github.com/PyCQA/flake8
  rev: 6.1.0
  hooks:
    - id: flake8
      additional_dependencies: ['flake8-bugbear==23.1.20']
- repo: https://github.com/PyCQA/isort
  rev: 5.12.0
  hooks:
    - id: isort
- repo: local
  hooks:
    - id: check-hook-name-length
      name: 'Check hook name length'
      language: python
      entry: ./scripts/check-hook-name-length.py
      files: ^\.pre-commit-hooks\.yaml$
